################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WasmCv/Properties/PublishProfiles
/WasmCv/WasmCv.csproj.user
/WasmCv
/.vs
