@page "/"
<PageHeader Title="Projeler" />
<MudGrid>
    <SectionComponent Title="Mountains" Description="Something something">
        <MudCarouselItem>
            <div class="d-flex" style="height:100%;width:100%;justify-content:center;">
                <MudImage Fluid="true" Class="rounded-lg"
                          Src="assets/projects/dashboard/1.jpg" />
            </div>
        </MudCarouselItem>
    </SectionComponent>
</MudGrid>